* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}
.container {
  margin: 20px auto;
  width: 1000px;
}
.game-info {
  display: flex;
}
.game-info .game-name {
  flex: 1;
}
.game-info .game-category {
  flex: 1;
  text-align: right;
}
.game-info .game-category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
hr {
  border: 1px solid #000;
}
.row {
  display: flex;
}
.row .hangman-draw {
  flex: 1;
  background-color: antiquewhite;
  padding: 20px;
  height: 324px;
}
.row .hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #000;
  position: relative;
  margin: auto;
}

.row .the-stand::after {
  content: "";
  width: 4px;
  background-color: #000;
  position: absolute;
  height: 100%;
  left: calc(50% - 2px);
}

.row .the-hang::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #000;
  left: 15px;
  top: 10px;
}

.row .the-hang::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #000;
  top: 10px;
  left: 190%;
}
.row .hangman-draw .the-draw .the-rope {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: calc(100% + 15px);
  top: 37px;
  border: 4px dashed #000;
}

.hangman-draw .the-man .head {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  border: 4px solid #ff1414;
  left: 85px;
  top: 45px;
}

.hangman-draw .the-man .body {
  position: absolute;
  width: 4px;
  height: 110px;
  background-color: #000;
  top: 100px;
  left: 115px;
}
.hangman-draw .the-man .hands::after,
.hangman-draw .the-man .hands::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 60px;
  background-color: #000;

  top: 110px;
}
.hangman-draw .the-man .hands::after {
  rotate: 120deg;
  left: 92px;
}
.hangman-draw .the-man .hands::before {
  rotate: -120deg;
  left: 138px;
}
.hangman-draw .the-man .legs::after,
.hangman-draw .the-man .legs::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 55px;
  background-color: #000;
  top: 200px;
}
.hangman-draw .the-man .legs::after {
  rotate: 45deg;
  left: 95px;
}

.hangman-draw .the-man .legs::before {
  rotate: -45deg;
  left: 135px;
}

.row .letters {
  background-color: #eee;
  flex: 1;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row .letters .letter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009688;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
